<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="org.apache.cordova.plugin.wifiinfo"
      version="0.3.1">

    <name>WifiInfo</name>
    <description>WifiInfo Plugin</description>
    <license>MIT</license>
    <keywords>wifi, wireless</keywords>

    <!-- android -->
    <platform name="android">

        <js-module src="www/WifiInfoPlugin.js" name="WifiInfo">
          <clobbers target="WifiInfo" />
        </js-module>

      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="WifiInfo">
            <param name="android-package" value="org.apache.cordova.plugin.WifiInfo"/>
          </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>

      <source-file src="src/android/WifiInfoPlugin.java" target-dir="src/org/apache/cordova/plugin" />

    </platform>

</plugin>
