<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="net.riologica.wifiinfo"
      version="0.3.2">

    <name>WifiInfo</name>
    <description>WifiInfo Plugin</description>
    <license>MIT</license>
    <keywords>wifi, wireless</keywords>
  
    <asset src="www/js/dump.js" target-dir="dump.js" />

  <!-- android -->
    <platform name="android">

        <js-module src="www/WifiInfoPlugin.js" name="wifiinfo">
          <clobbers target="navigator.wifiinfo" />
        </js-module>

        <js-module src="www/Coordinates.js" name="Coordinates">
            <clobbers target="Coordinates" />
        </js-module>

        <js-module src="www/PositionError.js" name="PositionError">
            <clobbers target="PositionError" />
        </js-module>

        <js-module src="www/Position.js" name="Position">
            <clobbers target="Position" />
        </js-module>

        <js-module src="www/geolocation.js" name="geolocation">
            <clobbers target="navigator.geolocation" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="WifiInfo">
            <param name="android-package" value="net.riologica.wifiinfo.WifiInfo"/>
          </feature>
          <feature name="Geolocation">
            <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker"/>
          </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
          <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
          <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>

        <source-file src="src/android/WifiInfoPlugin.java" target-dir="src/net/riologica/wifiinfo" />
        
        <source-file src="src/android/GeoBroker.java" target-dir="src/org/apache/cordova/geolocation" />
        <source-file src="src/android/GPSListener.java" target-dir="src/org/apache/cordova/geolocation" />
        <source-file src="src/android/NetworkListener.java" target-dir="src/org/apache/cordova/geolocation" />
        <source-file src="src/android/CordovaLocationListener.java" target-dir="src/org/apache/cordova/geolocation" />

    </platform>

</plugin>
